:root {
  --blue: #0047ff;
  --white: #fffefe;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: rgba(255, 254, 254, 0.97);
}

.container {
  padding: 10px 50px;
  height: 100vw;
  height: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-container img {
  object-fit: cover;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

header .name {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--blue);
  padding-bottom: 30px;
}

header .title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

header .title div:nth-of-type(2) {
  border: 1px solid black;
  margin: 0px 20px;
  height: 10px;
}

.description {
  padding: 10px 0px;
  font-size: 20px;
  letter-spacing: 3px;
}
.icons {
  display: flex;
  padding: 20px 0px;
  border-bottom: 1px solid var(--blue);
}

.icons a {
  text-decoration: none;
  color: var(--blue);
  padding-right: 15px;
  font-size: 20px;
}

.icons a:hover {
  scale: 1.1;
}

main {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

main div {
  text-align: left;
  width: 100%;
}

main h4 {
  font-weight: bold;
  color: var(--blue);
  font-size: 18px;
  padding: 10px 0px;
}

main .title {
  padding: 10px 0px;
  font-weight: 300;
  font-size: 15px;
}

main .work p {
  padding: 2px 16px;
  position: relative;
}

main .work p::before {
  content: "";
  position: absolute;
  left: 0px;
  transform: translateY(50%);
  height: 9px;
  width: 9px;
  border-radius: 50%;
  z-index: 1;
  background-color: var(--blue);
}

.school {
  padding-bottom: 15px;
}

h4 {
  font-size: 20px;
  padding: 2px 0px;
}
